@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(231, 231, 231);
}

#root {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container_1 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(231, 231, 231);
  width: 100%;
  padding: 20px;
}

input {
  height: 45px;
  width: 379px;
  border: black 2px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
}

button {
  height: 45px;
  width: 115px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.container_1_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.container_1_2 {
  display: flex;
  width: 100%;
  gap: 20px;
}

.container_1_2_1,
.container_1_2_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 40%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 0 20px 0;
  gap: 10px;
}

.container_1_2_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: solid black 2px;
  width: 60%;
  border-radius: 5px;
}

.container_1_2_1_1 {
  display: flex;
  width: 100%;
  padding: 10px;
}

.Humidity,
.Wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 10px;
}

.weatherIcon {
  width: 150px;
  height: 150px;
}

.description {
  font-size: 25px;
  font-weight: bold;
}

.HumidityText,
.WindText {
  font-size: 20px;
  font-weight: bold;
}

.HumidityValue,
.WindValue {
  font-size: 15px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  font-weight: bold;
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  position: absolute;
  top: -100%;
  transition: all ease-in-out 1s;
}

.loadingScreen.active {
  top: 0;
}

.loadingIcon {
  animation: loadingrotate 1s infinite;
}
@keyframes loadingrotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @media screen and (max-width: 600px) {
  #root {
    width: 100%;
  }
  .container_1 {
    width: 100%;
  }
  input {
    width: 100%;
  }
  button {
    width: 20%;
  }
} */
